@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --BGCOLOR: #ffffff;
    --BORDER-COLOR: #9bc4eb;
    --COLOR: #FFF;
    --ERROR: firebrick;
    --INACTIVE: lightgray;
    --ACTIVE: rgb(253, 13, 13) ;
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: rgba(245, 245, 245, 0.9);
    --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
    --STATUS-COMPLETE: limegreen;
    --STATUS-OPEN: firebrick;
    --TABLE-BGCOLOR: #FFF;
    --TABLE-COLOR: #000;
    --INPUT-INVALID: #F00;
}

.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ==========================ANIMATIONS=============================== */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ======================================================================== */

.floating-image {
  animation: floatAnimation 3s infinite;
}

.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1);
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.logo {
    box-shadow: 0 4px 8px rgba(51, 125, 223, 0.1); /* Add shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.logo:hover {
    box-shadow: 0 8px 16px rgba(3, 64, 177, 0.2); /* Increase shadow on hover */
}

.home_header{
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.home_header_container{
  padding: 1rem ;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.home_footer_container{
  padding: 1rem ;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.home_footer{
  height: 10vh;
  position: sticky;
  border-top: 1px solid var(--BORDER-COLOR);
}

.second_header{
  /* background-image: url("./images/Home_h2_cover.png"); */
  background-size: cover;
  min-height: 50vh;
}

.login_page{
  height: 80vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container{
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 1rem;
  height: 55vh;
  width: 30vw;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login_form{
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.big_input {
  width: 100%;
  padding: 1rem; /* Adjust the padding as needed */
  font-size: 1rem; /* Adjust the font size as needed */
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.app{
  display: flex;
  height: 100vh;
}

.dash-container{
  flex: 1;
  background-color: white;
  
}


.password-input-container {
  display: flex;
  flex-direction: column;
}

.password-input-wrapper {
  display: flex;
  align-items: center;
}

.show-password-button {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
  color: blue;
}

.check {
  display: flex;
  justify-content: space-around;
  width: 10vw;
}

/* =========================SideBar==================================== */
.sidebar{
  display:  flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  background-color: azure;
  border-right: solid 2px var(--BORDER-COLOR);

}

.sidebar-mobile {
  display:  flex;
  flex-direction: column;
  width: 4vw;
  height: 100vh;
  background-color: azure;
  border-right: solid 2px var(--BORDER-COLOR);
}

nav .ul-item {
  display: flex;
  flex-direction: column;
  margin-block: 0.5rem;
  list-style: none;
}

nav .ul-item.oicon a {
  display: none;
}



nav .ul-item li {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  padding-block: 1.2rem;
  margin-block: 0.2rem;
}

nav .ul-item li:hover{
  background-color: aqua;
}

.selected {
  background-color: aqua;
}

nav .ul-item li .icon {
  color: blue;
  margin-inline: 1rem;
  font-size: 30px;
}

nav .ul-item li a {
  text-decoration: none;
  text-transform: uppercase;
  border-left: 1px solid slategray;
  padding: .3rem;
}

.menu-icon {
  margin-inline: 1rem;
}

.menu-icon .menu {
  color: blue;
  margin-block: 1rem;
  font-size: 30px;
  cursor: pointer;
}

nav .ul-item li:hover{
  transition: 1s ease;
}

/* ======================================================== */

.content_container{
  padding: 1.2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash_header{
  padding: 1.2rem;
  height: 6vh;
  width:  100%;
  background-color: azure;
  border-bottom: solid 2px var(--BORDER-COLOR);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ================================================================== */
.admin_2nd_container{
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
.admin_stats_container{
  width: 80vw;
  height: 55vh;
  background-color: blue;
  margin-bottom: 1.5rem;
}
.admin_nav_container{
  width: 22vw;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.admin_chart_container{
  width: 55vw;
  height: 30vh;
  background-color: pink;
}

.admin_nav_button {
  text-decoration: none;
  color: inherit;
  display: grid;
  place-items: center;
  background-color: white;
  border: #007bff solid 1px;
  transition: color 5s ease;
  transition: background-color  3s ease;
}

.admin_nav_button .icon{
  color: inherit;
  font-size: 2.5rem;
}

.admin_nav_button:hover {
  color: azure;
  background-color: blue;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.cell__action{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table_exam {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}
.table_courses{
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table_papers{
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table_questions{
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}
.top_buttons_container {
  padding: 2rem;
}
.top_buttons_container button{
  border: none;
}

.top_buttons_container button .icon{
  color: blue;
  background-color: white;
  font-size: 2rem;
  
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  width: 60vw;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.icon-button, .icon {
  color: blue;
  border: none;
  font-size: 3rem;
}

.create_form{
  width: 70vw;
}

.class_container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.input-container {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.dropdown {
	width: 10rem;
}

.input-container input,
.input-container select {
	width: 100%;
	border-radius: 5px;
	background-color: #a7a8b2;
	color: #080808;
}
.radio-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}